.deps/
.dirstamp
*.o
*.swp
*.db
client/INSTALL
client/Makefile
client/Makefile.in
client/aclocal.m4
client/autom4te.cache/
client/config.h
client/config.h.in
client/config.log
client/config.status
client/config.status.lineno
client/configure
client/configure.lineno
client/depcomp
client/hello
client/install-sh
client/missing
client/stamp-h?
server/install
server/Makefile
server/Makefile.in
server/aclocal.m4
server/autom4te.cache/
server/config.h
server/config.h.in
server/config.log
server/config.status
server/config.status.lineno
server/configure
server/configure.lineno
server/depcomp
server/hello
server/install-sh
server/missing
server/stamp-h?
client/dob
server/dob_server
